body {
    align-items: center;
    background-color: #011926;
    color: #fff;
    display: flex;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    margin:0;
    overflow-x: hidden;
    animation: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    animation: aurora 5s ease-in-out infinite;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-family:'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    left: 44.04vw;
    padding: 20px;
    position: absolute;
    z-index: 100;
    
}

.again{
    border: none;
    top: 2vh;
    left: 2vw;
}

.between{
    position: absolute;
    right: 2vw;
    top: 2vh;
}

h1{
    font-size: 3rem;
    position: absolute;
    top: 10vh;
    left: 36.2%;

}

.check{
    left: 10vw;
    bottom: 17vh;
    border-color: #009fb4;
    border-width: 5px;
    animation: aurora-border 5s ease-in-out infinite;


}

#io{
    padding: 10px;
    width: 400px;
    font-family: 'Poppins';
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 4rem;
    border-radius: 15px;
    position: absolute;
    animation: aurora 5s ease-in-out infinite;
    left: 8vw;
    bottom: 30vh;
    background-color: rgba(255, 255, 255, 0.2);
    /* border: #009fb4; */
}

.again:hover{    
    box-shadow: 0 0 100px 5px #fff;
    animation-duration: 0.25s;
    transition: ease-in-out;
    align-items: baseline;
    animation: aurora 5s ease-in-out infinite;
    text-shadow: 0 0 10px #011926;
}

.number{
    font-weight: bold;
    font-size: 3rem;
    position: absolute;
    top: 25vh;
    left: 49%;
    animation: none;
}

.right{
    font-size: 2rem;
}

.message{
    position: absolute;
    right: 20vw;
    bottom: 35vh;
}
.label-score{
    position: absolute;
    right: 20vw;
    bottom: 25vh;
}
.label-highscore{
    position: absolute;
    right: 20vw;
    bottom: 15vh;
}


@keyframes aurora {
    0% {
        color: #009fb4;
      }
      25% {
        color: #00e975;
      }
      50% {
        color: #00ffea;
      }
      75% {
        color: #00e975;
      }
      100% {
        color: #009fb4;
      }
}

@keyframes aurora-bg {
    0% {
        background-color: #011926;
      }
      25% {
        background-color: #aca10c;
      }
      50% {
        background-color: #03554e;
      }
      75% {
        background-color: #c21540;
      }
      100% {
        background-color: #011926;
      }
}

@keyframes aurora-border {
    0% {
        border-color: #009fb4;
        color: #009fb4;
      }
      25% {
        border-color: #00e975;
        color: #00e975;
      }
      50% {
        border-color: #00ffea;
        color: #00ffea;
      }
      75% {
        border-color: #00e975;
        color: #00e975;
      }
      100% {
        border-color: #009fb4;
        color: #009fb4;
      }
}